/* Fontes  */
@font-face {
    font-family: 'BancoDoBrasilTextos';
    src: url('font/BancoDoBrasilTextos-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'BancoDoBrasilTextos';
    src: url('font/BancoDoBrasilTextos-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'BancoDoBrasilTextos';
    src: url('font/BancoDoBrasilTextos-Regular.ttf') format('truetype');
    font-weight: normal;
}

/* Estilos Gerais */
body {
    background-color: #000423;
    font-family: 'BancoDoBrasilTextos', sans-serif;
    margin: 0;
    color: #FFFFFF;
    overflow-x: hidden;
}

:root {
    font-size: 62.5%;
}

/* header  */
header {
    color: #FFFFFF;
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    align-items: center;
}

#img1-header{
padding: 0;
}

#img1-header img{
    width: 3.5rem;
    z-index: 1;
}

header h1 {
    font-size: 2rem;
    font-family: 'BancoDoBrasilTextos', sans-serif;
    padding: 0;
    z-index: 1;
}

header h1:hover{
    color: #FCFC30;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'BancoDoBrasilTextos', sans-serif;
}

hr {
    border: none;
    height: 0.5rem;
    background-color: #FCFC30;
    margin: 0;
}

/* Carrossel */
.carrossel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.carrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.carrossel-content {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translateY(-50%);
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.carrossel-title {
    font-size: 8rem;
    margin-bottom: 1rem;
    line-height: 0.55;
    color: #FCFC30;
}

.carrossel-description {
    font-size: 2.2rem;
    margin-top: 6rem;
    line-height: 0.75;
}



/* Seção de Perguntas (FAQ) */
.faq-section {
    max-width: 60%;
    margin: 4rem auto;
    text-align: left;
    position: relative;
}

.faq-section h2 {
    font-size: 4rem;
    color: #FCFC30;
    margin-bottom: 6rem;
    position: relative;
    display: inline-block;
}

.faq-section h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #467DC3;
    z-index: -1;
}

.faq-item {
    background-color: #012244;
    border-radius: 10px;
    margin: 1.5rem 0;
    padding: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-item:hover {
    background-color: #013566;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h3 {
    font-size: 2rem;
    font-weight: bold;
}

.arrow {
    font-size: 2rem; 
    color: #FCFC30;
    transition: transform 0.3s ease;
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    display: inline-block;
}

.faq-item .arrow::before {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}


.faq-answer {
    display: none;
    padding: 1rem 0;
    font-size: 1.7rem;
    line-height: 1.4;
    color: #D3D3D3;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}

/* parte do rodapé */
footer {
    background-color: #FCFB2F;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.infomacoes-footer h1{
    font-family: 'BancoDoBrasilTextos', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    color: #000423;
}

.termos-e-responsabilidades{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.termos-e-responsabilidades img{
    width: 2rem;
    height: 2rem;
}

.termos-e-responsabilidades h1{
    font-family: 'BancoDoBrasilTextos', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #000423;
}

.Código-de-Ética-e-Normas-de-Conduta{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Código-de-Ética-e-Normas-de-Conduta img{
    width: 2rem;
    height: 2rem;
}

.Código-de-Ética-e-Normas-de-Conduta h1{
    font-family: 'BancoDoBrasilTextos', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #000423;
}

/* Responsividade */
@media (max-width: 768px) {
    .carrossel-content {
        left: 5%;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    .faq-section {
        max-width: 90%;
    }

    .faq-item {
        padding: 1.5rem;
    }
}

/* Responsividade Carrossel */
@media (max-width: 1200px) {
    .carrossel-content {
        left: 15%;
    }

    .carrossel-title {
        font-size: 6rem;
    }

    .carrossel-description {
        font-size: 2rem;
    }
}

@media (max-width: 992px) {
    .carrossel-content {
        left: 10%;
    }

    .carrossel-title {
        font-size: 5rem;
    }

    .carrossel-description {
        font-size: 1.8rem;
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .carrossel-content {
        left: 5%;
    }

    .carrossel-title {
        font-size: 4rem;
    }

    .carrossel-description {
        font-size: 1.6rem;
        margin-top: 3rem;
    }
}

@media (max-width: 576px) {
    .carrossel-content {
        left: 10%;
        top: 50%;
    }

    .carrossel-title {
        font-size: 3.5rem;
    }

    .carrossel-description {
        font-size: 1.4rem;
        margin-top: 2rem;
    }
}

@media (max-width: 400px) {
    .carrossel-content {
        left: 5%;
        top: 55%;
    }

    .carrossel-title {
        font-size: 3rem;
    }

    .carrossel-description {
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }
}
