@media(min-width: 320px) and (max-width: 720px){

    /* Pagina de upload  */
    .page-upload {
        margin-left: 2rem;
    }

    .informacoes{
        margin-top: 5rem;
    }

    .titulo h1 {
        font-size: 2rem;
    }

    .descricao h1 {
        font-size: 1.5rem;
        width: 30rem;
    }

    .img-principal img {
        display: none;
    }

    input[type="file"] {
        margin: auto;
        width: 20rem;
        height: 15rem;
    }

    form{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    form button {
        width: 25rem;
    }

    #message{
        width: 20rem;
        margin: auto;
    }

    /* parte do footer  */

    footer{
        display: none;
    }

/*result*/

.info-documento {
    width: 24rem;
    margin-left: 12rem;
}

input {
    margin-left: 10rem;
}

.titulo-info {
    margin-left: 7rem;
}

.botoes {
    margin-left: 11rem;
    margin-top: 1rem;
}

.botoes button {
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
}

footer {
    height: 7rem;
    display: flex;
    text-align: center;
}

.infomacoes-footer h1{
    font-size: 1.2rem;
}

.termos-e-responsabilidades{
    display: flex;
    align-items: center;
    gap: 1rem;
}
 }

