<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  <!-- fontes usadas -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="./static/css/index.css"> <!--Pasta css-->
    <link rel="stylesheet" href="./static/css/responsividade-mobile.css"> <!--Pasta de responsividade-->
    <title>TechDoc</title>
</head>

<body>
    <header>
        <div class="off-screen-menu"> <!--Menu de navegação na forma hamburguer, quando é ativado-->
            <ul>
                <li><a href="#digitalizar">Digitalizar</a></li>
                <li><a href="#ajuda">Ajuda</a></li>
                <li><a href="#termo">Termo de Responsabilidade</a></li>
                <li><a href="#normas">Código de Ética e Normas de Conduta</a></li>
                </ul>
            </div>

            <div class="ham-menu"> <!--Botão para ativar o menu hamburguer-->
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <!--Logo do BB e nome da Aplicação-->
            <img id="img1-header" src="./static/Imagens/header/Imagem15 1.png" alt="">
            <h1>TechDoc</h1>
    </header>
    <hr>

    <!--Pagina onde ficam as informações do site-->
    <section class="page-upload"> 
        <div class="informacoes">
            <div class="textos">
                <div class="titulo">
                    <h1>Bem Vindo ao TechDoc</h1>  <!--Titulo de boas vindas ao site-->
                </div>

                <div class="descricao">
                    <h1>Tech Doc é um serviço que simplifica a análise de documentos, automatizando a extração e
                        organização
                        de informações. <span>Rápido, preciso e fácil de usar!</span></h1> <!--Pequena descrição de o que se trata a aplicação-->
                </div>
            </div>

            <form action="/upload" method="post" enctype="multipart/form-data"> <!--Onde upa os documentos-->
                <label for="file"></label>
                <input type="file" id="file" name="file" accept=".png, .jpg, .jpeg, .pdf" multiple required><br><br>
        
                <label for="message"></label> <!--Onde se escreve o que quer-->
                <textarea id="message" name="message" placeholder="O que deseja procurar?" required></textarea><br><br>
        
                <button type="submit">Enviar</button>
            </form>
        </div>

        <div class="img-principal">
            <img src="./static/Imagens/pg-principal/img pg-principal.png" alt=""> <!--Imagem de fundo do site-->
        </div>
    </section>
    <footer> <!--Rodape com algumas informações-->
        <div class="infomacoes-footer">
            <h1>© Banco do Brasil S/A - CNPJ 00.000.000/0001-91 SAUN QD 5 LT <br>B, Asa Norte, Brasília-DF, Brasil - CEP
                70040-911</h1>
        </div>

        <div class="termos-e-responsabilidades">
            <img src="./static/Imagens/footer/img-termos e responsabilidades.png" alt="">
            <h1>Termo de Responsabilidade</h1>
        </div>

        <div class="Código-de-Ética-e-Normas-de-Conduta">
            <img src="./static/Imagens/footer/codigo de etica.png" alt="">
            <h1>Código de Ética e Normas de Conduta</h1>
            <hr class="linha-footer">
        </div>
    </footer>

    <!--Parte dos scripts do site-->
    <script src="./static/Js/hamburguer.js"></script>  <!--Script do menu hamburguer-->
</body>

</html>